In [ ]:
## Importing Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
## Importing Dataset
df = pd.read_csv("50_Startups.csv")
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [ ]:
print(X)

[[165349.2 136897.8 471784.1 'New York']
 [162597.7 151377.59 443898.53 'California']
 [153441.51 101145.55 407934.54 'Florida']
 [144372.41 118671.85 383199.62 'New York']
 [142107.34 91391.77 366168.42 'Florida']
 [131876.9 99814.71 362861.36 'New York']
 [134615.46 147198.87 127716.82 'California']
 [130298.13 145530.06 323876.68 'Florida']
 [120542.52 148718.95 311613.29 'New York']
 [123334.88 108679.17 304981.62 'California']
 [101913.08 110594.11 229160.95 'Florida']
 [100671.96 91790.61 249744.55 'California']
 [93863.75 127320.38 249839.44 'Florida']
 [91992.39 135495.07 252664.93 'California']
 [119943.24 156547.42 256512.92 'Florida']
 [114523.61 122616.84 261776.23 'New York']
 [78013.11 121597.55 264346.06 'California']
 [94657.16 145077.58 282574.31 'New York']
 [91749.16 114175.79 294919.57 'Florida']
 [86419.7 153514.11 0.0 'New York']
 [76253.86 113867.3 298664.47 'California']
 [78389.47 153773.43 299737.29 'New York']
 [73994.56 122782.75 303319.26 'Florida']
 [67532.53 105751.03 304768.73 'Florida']
 [77044.01 99281.34 140574.81 'New York']
 [64664.71 139553.16 137962.62 'California']
 [75328.87 144135.98 134050.07 'Florida']
 [72107.6 127864.55 353183.81 'New York']
 [66051.52 182645.56 118148.2 'Florida']
 [65605.48 153032.06 107138.38 'New York']
 [61994.48 115641.28 91131.24 'Florida']
 [61136.38 152701.92 88218.23 'New York']
 [63408.86 129219.61 46085.25 'California']
 [55493.95 103057.49 214634.81 'Florida']
 [46426.07 157693.92 210797.67 'California']
 [46014.02 85047.44 205517.64 'New York']
 [28663.76 127056.21 201126.82 'Florida']
 [44069.95 51283.14 197029.42 'California']
 [20229.59 65947.93 185265.1 'New York']
 [38558.51 82982.09 174999.3 'California']
 [28754.33 118546.05 172795.67 'California']
 [27892.92 84710.77 164470.71 'Florida']
 [23640.93 96189.63 148001.11 'California']
 [15505.73 127382.3 35534.17 'New York']
 [22177.74 154806.14 28334.72 'California']
 [1000.23 124153.04 1903.93 'New York']
 [1315.46 115816.21 297114.46 'Florida']
 [0.0 135426.92 0.0 'California']
 [542.05 51743.15 0.0 'New York']
 [0.0 116983.8 45173.06 'California']]

In [ ]:
print(y)

[192261.83 191792.06 191050.39 182901.99 166187.94 156991.12 156122.51
 155752.6  152211.77 149759.96 146121.95 144259.4  141585.52 134307.35
 132602.65 129917.04 126992.93 125370.37 124266.9  122776.86 118474.03
 111313.02 110352.25 108733.99 108552.04 107404.34 105733.54 105008.31
 103282.38 101004.64  99937.59  97483.56  97427.84  96778.92  96712.8
  96479.51  90708.19  89949.14  81229.06  81005.76  78239.91  77798.83
  71498.49  69758.98  65200.33  64926.08  49490.75  42559.73  35673.41
  14681.4 ]

In [ ]:
# ISSUE_1 - use mean to handle missing data, and apply

df.isnull().sum() #checks if there is any null value in each column
#fillna is used to replace the null values
#mean is used to replace the values with the mean of all values present in column
#condition of numeric is entered because some columns have non-numeric datatype
df=df.fillna(df.mean(numeric_only=True))

In [ ]:
# ISSUE_2 - Encoding categorical column, using one hot encoding
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output = False) #converts sparse matrix into dense matrix
encoded_data = encoder.fit_transform(df[['State']]) #encodes data
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['State'])) #organises encoded data into a dataframe
#get_feature_names_out generates meaningful names for new columns
df = pd.concat([df, encoded_df], axis=1) #adds encoded columns to df
df.drop('State', axis=1, inplace=True) #removes State column from df

df.head()

In [ ]:
# ISSUE_3 - split data into train and test with 80/20 ratio

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)      # Splitting in 80:20 Ratio

In [ ]:
print(train_X)

In [ ]:
print(test_X)

In [ ]:
print(train_y)

In [ ]:
print(test_y)

In [ ]:
# ISSUE_4 - Training on Train set - use linear regression

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train_X, train_y)

In [ ]:
# ISSUE_5 - Testing on test set - with trained linear regression

y_pred = model.predict(test_X)
print("Predictions on test set:", y_pred)

In [ ]:
# ISSUE_6 - Measuring the performance - r2

In [ ]:
# ISSUE_7 - print coefficient/weight of the trained model

In [ ]:
# ISSUE_8 - now predict values based on trained linear regression model

In [ ]:
# ISSUE_9 - plot predicted and actual values

In [ ]:
# ISSUE_10 - Use classification_report to compute metrics like Precision, Recall, and F1-Score